*{
    margin:0;
    padding:0;
    /*font-family: 'Tourney', cursive;*/
    font-family: 'Noto Sans HK', sans-serif;
}
/*---------------------------------------------------------------------------------Header Area
---------------------------------------------------------------------------*/

#header{
    width:100%;
    height:100vh;
    background-image: url(img/bg1.jpg);
    background-position:center;
    background-size:cover;
    position: relative;
}
.top_header{
    display: flex;
    justify-content: space-between;
}


.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-right:45px;
    margin-top:50px;
    list-style: none;;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color:#ffffff;
    font-family: 'Noto Sans HK', sans-serif;
    padding:5px 10px;   
    border-radius: 7px;
    transition:0.5s;
}

.navbar ul li a:hover{
    background-color:#ffffff36;
    color:gold;
}

.logo h1{
    margin:40px;
    font-size:70px;
    font-family: 'Tourney', cursive;
    cursor:pointer;
    color:gold;
    font-weight: 800;
}

.banner_text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.banner_text h1{
    text-align:center;
    font-size:63px;
    color:#fff;
}
span{
    color:gold;
}
.banner_text p{
    text-align:center;
    font-size:18px;
    color:#fff;
    margin-top:20px;
}

/*------------------------------------------------------------------------------------------------------------About Section
-----------------------------------------------------------------------------------------------------------*/

#about{
    width:100%;
    height:100vh;
    background-color:#ffffff44;
}
#about h1{
    text-align:center;
    font-size:63px;
    color:gold;
}
hr{
    width:450px;
    position:absolute;
    left:33%;
}
.about_area{
    display: flex;
    justify-content:space-between;
    height:80%;
    width:100%;
    margin-top:60px;
}
.about_text{
    width:50%;
    margin:30px;
    
}

.about_text a{
    font-size:24px;
    color:gray;
}
.about_img img{
    width:300px;
    right:30px;
    position:absolute;
}

.about_text p{
    margin-top:20px;
    font-size:24px;
}
.about_text h2{
    font-size: 40px;
    color:gray;
}































































































